<%- include('./partials/header') %>

<div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-6">

            <div class="form">  <i class="fas fa-bug"></i>

              <form id='searchform' action='/'  method="POST">

                <div class="input-group mb-3">

                  <input name="scanUri" type="text" class="form-control form-input" placeholder="Enter website URL or IPv4 Address">
  
                  <button class="btn-lg btn-success" type="submit" aria-expanded="false">SCAN</button>       
                  
                </div>
                 
              </form>

             </div>

        </div>
        
    </div>

    <% [].forEach((vuln, index) => { %>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapseOne">
              <%= vuln.title %>
            </button>
          </h2>
          <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table  table-dark">
                <tbody>
                  <tr>
                    <td>Vulnerability Name</td>
                    <td colspan="1" class="table-active"><%= vuln.title %></td>
                  </tr>
  
                  <tr>
                    <td>Payload</td>
                    <td colspan="1" class="table-active"><%= vuln.time %></td>
                  </tr>
  
                  <tr>
                    <td>Exploit</td>
                    <td colspan="1" class="table-active"><%= vuln.seeds %></td>
                  </tr>
  
                  <tr>
                    <td>OS</td>
                    <td colspan="1" class="table-active"><%= vuln.peers %></td>
                  </tr>
  
                  <tr>
                    <td>Solution</td>
                    <td colspan="1" class="table-active"><%= vuln.size %></td>
                  </tr>
  
                  <!-- <tr>
                    <td>
                      <button class="btn btn-lg btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        SHOW MAGNET LINK
                      </button>
                      <div class="collapse" id="collapseExample">
                        <div style="color: red;" class="card card-body">
                          <%= vuln.magnet %>
                        </div>
                      </div>                  </td>
                    <td colspan="1" class="table-active">
                      <form action="/download" method="POST">
                        <input type="text" name="torrentjson" value="<%= JSON.stringify(vuln) %>">
                        <button class="btn btn-lg btn-success" type="submit">DOWNLOAD TORRENT FILE</button>
                      </form>
                    </td>
                  </tr> -->
  
                  <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Button</button>
                    <button class="btn btn-primary" type="button">Button</button>
                  </div> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <% }) %>

      <!-- <% [1,2,3,4].forEach((vuln, index) => { %>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
              Vulnerability Name
            </button>
          </h2>
          <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <table class="table  table-dark">
                <tbody>
                  <tr>
                    <td>Vulnerability Name</td>
                    <td colspan="1" class="table-active"> Vulnerability Name </td>
                  </tr>
  
                  <tr>
                    <td>Payload</td> 
                    <td colspan="1" class="table-active"> Payload Used </td>
                  </tr>
  
                  <tr>
                    <td>Exploit</td>
                    <td colspan="1" class="table-active"> Exploit Used </td>
                  </tr>
  
                  <tr>
                    <td>OS</td>
                    <td colspan="1" class="table-active"> Operating System </td>
                  </tr>
  
                  <tr>
                    <td>Solution</td>
                    <td colspan="1" class="table-active"> Vulnerability System </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <% }) %> -->



<%- include('./partials/footer') %>
